 table {
	width: 95%;
	margin-bottom: 10px;
} 

/* 
body {
	font-family: sans-serif;
}

li {
	font-size: small;
}

p {
	font-size: smaller;
}
*/

td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
	text-align: center;
	white-space: nowrap;
}
 

table, td, th {
	border: 2px solid #595959;
	/* border-collapse: collapse; */
}


th {
	background: #f0e6cc;
}

.even {
	background: #fbf8f0;
}

.odd {
	background: #fefcf9;
}

tr .note_cell:nth-last-of-type(odd) {
	background: #EAF6FD;
}

.currentTimeCell {
	background: #999999 !important;
}

.mgr-30 {
	margin-right: 30px;
}

.mgr-10 {
	margin-right: 10px;
}

/* .btn-square {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;
	
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 1px;
	width: 60px;
	margin-bottom: 10px;
}
 */

#tempo_disp {
	width: 30px;
}

.vert_center {
	display: table-cell;
	vertical-align: middle;
}

/*

.table_color td:nth-child(odd) {
	background:#EAF6FD;
}
.table_color td:nth-child(even) {
	background:#EFEFEF;
}
*/